

.wrapperButton__main{
    display: flex;
    justify-content: center;
    gap: 0px;
    box-sizing: border-box;
    //margin: 0 2em;

    &.row{
        flex-direction: row;
    }

    &.column{
        flex-direction: column;
    }

    >*{
        flex-basis: 100%;
    }
}