


.mybutton{

    font-size: $fz-MyButton;
    text-transform: uppercase;
    padding: 0.5em 0;
    margin: 0 0.5em;
    @include button();

    &:hover{
        cursor: pointer;
    }


    &:active{
        transform: scale(0.98);
    }

    &.not-scaleable{
        //border-top: 2px solid;
        &:active{
            transform: none;
        }
    }
}