.theme-chg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;

    svg {
        transform: scale(5);
    }

    &:hover {
        cursor: pointer;
    }
}
